/* Shippori Mincho & Nunito Sans */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Shippori+Mincho&display=swap");

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Main fonts */
    --font-nunito-sans: "Nunito Sans", sans-serif;
    --font-shippori: "Shippori Mincho", serif;

    /* Font sizes */
    --text-size1: 0.75rem; /* 12px */
    --text-size2: 1rem; /* 16px */
    --text-size3: 1.125rem; /* 18px */
    --text-size4: 1.25rem; /* 20px */
    --text-size5: 1.5rem; /* 24px */
    --text-size6: 1.75rem; /* 28px */
    --text-size7: 2.25rem; /* 36px */

    /* Colors */
    --color-ascend-blue: #01007d;
    --color-ascend-lightblue: #d6d6ff;
    --color-ascend-yellow: #f9a502;
}
