/* Shippori Mincho & Nunito Sans */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Shippori+Mincho&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@utility scrollbar-default {
    &::-webkit-scrollbar {
        display: block;
        width: 8px;
        border-radius: 50px;
        background-color: transparent;
    }
}

@utility scrollbar-hover {
    &::-webkit-scrollbar {
        display: block;
        width: 8px;
    }
}

@utility scrollbar-hover {
    &::-webkit-scrollbar-thumb {
        display: block;
        width: 8px;
        border-radius: 50px;
        background-color: rgba(100, 100, 100, 0.5);
    }
}

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Main fonts */
    --font-nunito-sans: "Nunito Sans", sans-serif;
    --font-shippori: "Shippori Mincho", serif;

    /* Font sizes */
    --text-size1: 0.875rem; /* 1px */
    --text-size2: 1rem; /* 16px */
    --text-size3: 1.125rem; /* 18px */
    --text-size4: 1.25rem; /* 20px */
    --text-size5: 1.5rem; /* 24px */
    --text-size6: 1.75rem; /* 28px */
    --text-size7: 2.25rem; /* 36px */

    /* Colors */
    --color-ascend-blue: #01007d;
    --color-ascend-lightblue: #e4e4ff;
    --color-ascend-yellow: #f9a502;
    --color-ascend-lightyellow: #ffeecc;
    --color-ascend-black: #313131;
    --color-ascend-white: #ffffff;
    --color-ascend-gray1: #8a8989;
    --color-ascend-gray2: #6c6969;
    --color-ascend-gray3: #545454;
    --color-ascend-green: #00a600;
    --color-ascend-red: #c51919;

    /* Shadow */
    --shadow-shadow1: 0px 4px 2px 0px #adadad;
    --shadow-shadow2: 0px 0px 3px 0px #adadad;
}

/* Custom styles for registration */

.textField {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-image: url("https://www.svgrepo.com/show/80156/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: calc(100% - 16px);
}

@media (max-width: 1036px) {
    .hide-step-below-945 {
        display: none;
    }

    .mb-adjust-below-945 {
        margin-bottom: 1.5rem;
    }
}

.password-input::-ms-reveal {
  display: none;
}