/*Nunito Sans */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

#react-doc-viewer {
    background-color: #e4e4ff;
}

#image-renderer {
    background-color: #e4e4ff;
}

/* #pdf-page-info {
    display: none !important;
} */

#pdf-renderer {
    display: flex;
}

#pdf-controls {
    font-family: "Nunito Sans", sans-serif;
    width: fit-content;
    background-color: rgb(255, 255, 255) !important;
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    border: 1px solid #8a8989;
    box-shadow: 0px 4px 2px 0px #adadad;
}

#pdf-download {
    display: none;
}
