/*Nunito Sans */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.ql-tooltip {
    left: 0 !important;
    top: 10% !important;
    transform: none !important;
    padding: 0.5rem;
    box-sizing: border-box;
}

.ql-toolbar {
    border: none !important;
}

/* Custom styling for the form */
.ql-snow .ql-editor {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    border: 1px solid #8a8989 !important;
    min-height: 200px !important;
}

.ql-snow .ql-editor {
    padding: 8px !important;
}

/* Custome styling for the output */
.ql-bubble .ql-editor {
    border: none !important;
}

.ql-bubble .ql-editor {
    padding: 0 !important;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}

/* Responsive for small screens */
@media (max-width: 640px) {
    .ql-tooltip {
        width: 100% !important;
        display: flex;
        gap: 0.5rem;
    }

    .ql-tooltip input {
        width: 100% !important;
        box-sizing: border-box;
    }
}
